<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases><!--  alias="결과값 저장할 객체" -->
	<typeAlias alias="dto" type="com.care.dto.DTO"/>
	<typeAlias alias="sdto" type="com.care.dto.SearchnonDTO"/>
	<typeAlias alias="kdto" type="com.care.dto.MostDTO"/>
	<typeAlias alias="ldto" type="com.care.dto.ChampMasteryDTO"/>
	<typeAlias alias="msdto" type="com.care.dto.MsgDTO"/>
	<typeAlias alias="bdto" type="com.care.dto.boardDTO"/>
	<typeAlias alias="hdto" type="com.care.dto.hitupDTO"/>
	<typeAlias alias="updto" type="com.care.dto.upload_imgDTO"/>
	<typeAlias alias="pdto" type="com.care.dto.pageDTO"/>
	<typeAlias alias="rpdto" type="com.care.dto.repageDTO"/>
	<typeAlias alias="bsdto" type="com.care.dto.BoardSearchDTO"/>
	   
	   
	   
	   
	</typeAliases>
</configuration>

